/* globle class */
:root {
    --primary-color: #DABB6B;
    --secondary-color: #3A2F29;
    --white: white;
    --black: black;
}

* {
    color: var(--secondary-color);
    font-family: 'font-regular';
    scroll-behavior: smooth;
}


/* fonts */
@font-face {
    font-family: font-regular;
    src: url(./assets/fonts/Fontspring-regular.otf);
}

@font-face {
    font-family: font-bold;
    src: url(./assets/fonts/Fontspring-bold.otf);
}

.primary-color {
    color: var(--primary-color) !important;
}

.white-color {
    color: var(--white) !important;
}

/*  button */
.dn-buttons {
    border-radius: 5px;
    border: 2px solid var(--primary-color);
    color: var(--black);
    height: 3rem;
    width: auto;
    background: transparent;
}


.dn-buttons:hover {
    background-color: var(--primary-color);
    color: var(--white);
    transition: 0.5s;
}

/* accordian */
.accordion-item {
    border: none;
}

.accordion-button {
    padding: 1rem 1.25rem 1rem 0.4rem;
    border-bottom: 2px solid var(--primary-color);
    font-size: 2rem;
    margin-bottom: 2rem;
}

.accordion-button:focus,
.accordion-button:focus {
    border-color: transparent;
    box-shadow: none;
}

.accordion-button:not(.collapsed) {
    color: var(--secondary-color);
    background-color: transparent;
}

.accordion-image {
    width: 50%;
    margin-top: 1rem;
}

.accordion-body {
    font-size: 1.3rem;
    padding: 0rem 0.45rem !important;
}

/* navbar */
.nav-top-bar {
    height: 10px;
    width: 100%;
    background-color: var(--primary-color);
}

.navbar {
    padding: 0 10%;
}
.navbar-nav .nav-link {
    color: var(--black);
}
.dropdown-item.active, .dropdown-item:active, .dropdown-item:focus, .dropdown-item:hover {
    background-color: var(--primary-color);
}
.logo {
    width: 20rem;
}

.dn-navbar {
    width: 60%;
    display: flex;
    justify-content: end;
    align-items: center;
}

.character {
    font-family: sans-serif;
}
.content {
    padding: 0;
    overflow: hidden;
}

/* banner */

.banner {
    width: 100%;
    height: 35rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(#27252580, #27252580), url('./assets/images/banner.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
}

.banner-text {
    font-size: 5rem;
    color: var(--white);
}

.content-left {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20%;
    flex-direction: column;
}

.search-bar {
    border: 1px solid var(--primary-color);
    height: 4rem;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-bar-input:focus,
.search-bar-input:active {
    outline: 0px !important;
    box-shadow: none !important;

}

.search-bar-input {
    border: none !important;
}

.search-bar-icon {
    width: 1rem;
    cursor: pointer;
}

.input-group-text {
    background: none;
    border: none;
    padding-right: 1rem;
}

.title-conatiner {
    width: 100%;
    height: 4rem;
    border-radius: 5px;
    background-color: var(--secondary-color);
    cursor: pointer;
    margin: 0.6rem 0;
    padding-left: 2rem;
    display: flex;
    align-items: center;
}
.title-conatiner:hover {
    margin-left: 10px;
    background-color: var(--primary-color);
    transition: 0.5s;
}

.title-conatiner::before {
    content: '';
    width: 13px;
    height: 4rem;
    background-color: var(--primary-color);
    margin-left: -32px;
    margin-right: 1rem;
    border-radius: 5px 0px 0px 5px;
}

.title-conatiner-link {
    color: var(--white) !important;
    text-decoration: none;
}

.right-content {
    width: 80%;
}

.content-header {
    font-size: 2rem;
}

.submit-request-container {
    background-color: var(--secondary-color);
    display: flex;
    margin: 0 10%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 17rem;
    border-radius: 5px;
}

.submit-request-container-text {
    color: var(--white);
    text-align: center;
    font-size: 2rem;
}

.submit-request-btn {
    color: var(--primary-color) !important;
    height: 4rem;
    font-size: 1.4rem;
}

.submit-request-btn:hover {
    color: var(--white) !important;
}

.footer {
    background-color: var(--primary-color);
    width: 100%;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10%;
    margin: 0;
}

.footer-text {
    font-size: 1.4rem;
    margin: 0;
}
.footer-icon-container {
    display: flex;
    align-items: center;
    justify-content: end;
}
.footer-icon {
    width: 1.4rem;
    margin-left: 2rem;
    cursor: pointer;
}